/* font-family: 'Noto Sans',
sans-serif;
font-family: 'Playfair Display', serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    /*ширина элемента считается с учётом рамок и падингов*/
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    /*чтобы картинка не была больше блока, в котором она лежит*/
}


.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 90px;
    padding-bottom: 130px;
}

.section-header {
    margin-bottom: 40px;
    text-align: center;
}

.section-header-title {
    margin-bottom: 10px;

    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;

}

.section-header p {
    text-transform: uppercase;
    color: #999999;
}

/* product card */

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product {
    text-align: center;
    width: 270px;
    height: 420px;
    margin-bottom: 40px;
}

.product-image {
    display: block;
    margin-bottom: 12px;
}

.product-title {
    margin-bottom: 12px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
}

.product-price-wrapper {
    font-size: 14px;
}

.old-price {

    line-height: auto;
    text-decoration-line: line-through;
    color: #999999;
    margin-right: 10px;
}

.new-price {
    font-weight: 700;
    line-height: auto;
    color: #F72464;
}

/* кнопка */
.section-button-wrapper {
    text-align: center;
}

.button {
    display: inline-block;
    /*ставить всем кнопкам*/
    height: 42px;
    padding-left: 40px;
    padding-right: 40px;

    background: #FFFFFF;
    border: 1px solid #F72464;
    box-sizing: border-box;
    border-radius: 4px;

    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;

    color: #777777;
}

/* стили для второго блока  */

.news-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.post {
    width: 570px;
    height: 170px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-img-wrapper {
    flex-shrink: 0;
    width: 170px;
    height: 170px;
    margin-right: 30px;
}

.post-content {
    margin: 0;
}

.post-content h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-top: 0;
}

.post-content p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #777777;
}

.post-link {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: black;
    position: relative;
}

.post-link::after {
    content: "";
    display: block;

    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: -25px;

    background-image: url(../img/feather-icon/chevron-right.svg);
}